<div class="container">
    <h2>   Ruter: </h2>
    <div>
        <div class="col-md-12">
            <div *ngIf="laster">Laster ruter.....</div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th>FraDestinasjon</th>
                        <th>TilDestinasjon</th>
                        <th>PrisBarn</th>
                        <th>PrisVoksen</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody *ngFor="let rute of alleRuter">
                    <tr>
                        <td>{{rute.fraDestinasjon}}</td>
                        <td>{{rute.tilDestinasjon}}</td>
                        <td>{{rute.prisBarn}}</td>
                        <td>{{rute.prisVoksen}}</td>
                        <td><button class="btn btn-danger" (click)="slettRute(rute.id)">Slett</button></td>
                        <td><button class="btn btn-success" [routerLink]="['/endreRute',rute.id]">Endre</button></td>


                    </tr>

                </tbody>
            </table>
            <button class='btn btn-primary' routerLink="/lagreRute">Opprett</button>
            <button class="btn btn-default" routerLink="/adminpage">Tilbake</button>

        </div>
    </div>
</div>