<div class="container">
  <div class="row">
      <div class="col" style="padding:3%">
        <h2>   Avganger: </h2>
      <div *ngIf="laster">Laster avganger.....</div>

       <div>
          <!--<p> For Rute: </p>-->
          <!--<select [(ngModel)]="rute">
          <option *ngFor="let avgang of alleAvganger" [value]="avgang.id" [selected]="rute.id == avgang.id">{{avgang.fraDestinasjon}} - {{avgang.tilDestinasjon}}</option>
          </select>-->
       </div>

        <table class="table table-bordered table-condensed">
          <thead>
            <tr>
              <th>Rute</th>
              <th>Tid</th>
              <th>Slett</th>
              <th>Endre</th>

            </tr>
          </thead>
          <tbody *ngFor="let avgang of alleAvganger">
            <tr>
              <td>{{avgang.fraDestinasjon}} - {{avgang.tilDestinasjon}}</td>
              <td>{{avgang.avgangTid}}</td>
              <td><button class="btn btn-danger" (click)="slettAvgang(avgang.id)">Slett</button></td>
              <td><button class="btn btn-success" [routerLink]="['/endre',avgang.id]">Endre</button></td>


            </tr>

          </tbody>
        </table>
      </div>
      <div class="col" style="padding:3%">
        <h2>   Rediger: </h2>
      </div>
  </div>
</div>
