<div class="container">
  <div class="col-md-4">
    <form [formGroup]="skjema" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Rute</label>
        <select class="form-group" formControlName="rute" required id="ruteNr" (change)="hentAvganger($event.target.value)">
          <option *ngFor="let rute of ruter" value={{rute}}>{{rute.fraDestinasjon}} til {{rute.tilDestinasjon}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Avgang</label>
        <select class="form-group" formControlName="avgang" required id="avgangNr">
          <option *ngFor="let avgang of avganger" value={{avgang}}>{{avgang.avgangTid}}</option>
        </select>
      </div>
    </form>
  </div>
</div>
