<div class="mainContainerLogin">
  <form [formGroup]="Skjema" (ngSubmit)="login()">
    <table class="contentTable">
      <tr>
        <td>
          <label>Brukernavn</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" formControlName="brukernavn" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Passord</label>
        </td>
        
      </tr>
      <tr>
        <td>
          <input type="password" formControlName="passord" />
        </td>
      </tr>
      <tr>
        <td>
          {{status}}
        </td>
      </tr>
      <tr>
      <td>
        <button type="submit" class="btn-primary">Logg inn</button>
       </td>
      </tr>
    </table>
  </form>
  
</div>
