<div>
  <form [formGroup]="Skjema" (ngSubmit)="login()">
    <table>
      <tr>
        <td>
          <label>Brukernavn</label>
        </td>
        <td>
          <input type="text" formControlName="brukernavn" />
        </td>
      </tr>
      <tr>
        <td>
          <label>Passord</label>
        </td>
        <td>
          <input type="password" formControlName="passord" />
        </td>
      </tr>
      <tr>
        <td>

        </td>
        <td>
          {{status}}
        </td>
      </tr>
      <tr>
      <td>
        <button type="submit">Logg inn</button>
       </td>
      </tr>
    </table>
  </form>
  
</div>
