/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
body{
    background-color: lightgray;
}
table {
    padding: 10px;
    border-radius:5px;
}
th {
  padding: 10px;
}
tr {
    padding: 5px;
}
a {
  color: #0366d6;
}
input {
    border-radius: 5px;
    border: 1px solid gray;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  margin: 5px;
  border: 0;
  padding: 5px 15px 5px 15px;
  border-radius: 6px;
}
.btn-danger {
  color: #fff;
  background-color: #ff0000;
  margin: 5px;
  border: 0;
  padding: 5px 15px 5px 15px;
  border-radius: 6px;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  margin: 5px;
  border: 0;
  padding: 5px 15px 5px 15px;
  border-radius: 6px;
}
.contentTable {
    width: 100%;
    text-align: center;
}
.mainContainer {
    margin-top: 5em;
    background-color: white;
    padding: 25px;
    width: 30%;
    border-radius: 5px;
    margin-left: 35%;
}
  .mainContainer .btn-danger {
    min-width: 80%;
  }
  .mainContainer .btn-primary {
    min-width: 80%;
    min-height: 3em;
  }

.table-bordered {
  background-color: azure;
  padding: 10px;
  border: 0;
  border-radius: 5px;
}
.table-bordered td, .table-bordered th {
  padding: 5px;
}
.table-bordered thead td, .table-bordered thead th {
  background-color: #1b6ec2;
  border: 0;
  color: white;
}
.container {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 60%;
    margin-left: 20%;
}
.table-container {
  width: 100%;
}
@media only screen and (max-width: 850px)  {
  .container {
      width: 100%;
      margin-left: 0;
  }
 }
