<div class="mainContainer"style="margin: auto; margin-top: 30px; width: 30%; padding: 30px; min-width: 300px;">
  <table class="contentTable" style="margin: auto">
    <tr>
      <h2 style="margin: 5px;">Administrer</h2>
    </tr>
    <tr>
      <button class="btn btn-outline-dark" style="margin: 5px; padding: 5px; width: 100%" (click)="editDestinasjoner()">Destinasjoner</button>
    </tr>
    <tr>
      <button class="btn btn-outline-dark" style="margin: 5px; padding: 5px; width: 100%" (click)="editRuter()">Ruter</button>
    </tr>
    <tr>
      <button class="btn btn-outline-dark" style="margin: 5px; padding: 5px; width: 100%" (click)="editAvganger()">Avganger</button>
    </tr>
    <tr>
      <button class="btn btn-outline-dark" style="margin: 5px; padding: 5px; width: 100%" routerLink="/visOrdre">Ordre</button>
    </tr>
    <tr>
      <button class="btn btn-danger" style="margin: 5px; margin-top:20px; padding: 5px; width: 100%" (click)="loggUt()">Logg ut</button>
    </tr>
  </table>
</div>

<!--test-->
