<div class="mainContainer">
    <table class="contentTable">
      <tr>
        <h2>Administrer</h2>
      </tr>
      <tr>
        <button class="btn-primary" (click)="editRuter()">Ruter</button>
      </tr>
      <tr>
        <button class="btn-primary" (click)="editAvganger()">Avganger</button>
      </tr>
      <tr>
        <button class="btn-primary" (click)="editDestinasjoner">Destinasjoner</button>
      </tr>
      <tr>
        <button class="btn-danger" (click)="loggUt()">Logg ut</button>
      </tr>
    </table>
</div>
